@charset "utf-8"; /
* 전체 컨텐츠 길이 */ 
.content{ 
	height: 3000px;} 
.layer_popup{ 
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; } 
.layer{ 
	width: 500px; 
	height: 250px; 
	background-color: #fff; 
	border: 1px solid #e5e5e5; 
	position: absolute; 
	top: 0; left: 0; bottom: 0; right: 0; 
	margin: auto; 
	border-radius: 5px; 
	box-shadow: 0 0 10px -4px; }
.text_area{ 
	padding: 50px 30px 0; }
.text_area > p{ 
	font-size: 17px; 
	line-height: 1.5; 
	text-align: justify; }
.btn_area{ 
	padding: 30px; 
	display: table; 
	table-layout: fixed; 
	width: 100%; 
	box-sizing: border-box; }
.btn_area > button{ 
	border: 1px solid; 
	padding: 13px 18px; 
	color: #fff; 
	font-size: 18px; 
	background-color: gray; 
	box-sizing: border-box; 
	display: table-cell; 
	width: 45%; 
	margin-right: 2.5%; 
	cursor: pointer; 
	box-shadow: 0px 0px 8px -5px #000; }
.btn_area > .btn_twitter{
	width: 25%; 
	background-color: #00acee; }
.btn_area > .btn_Dribbble{ 
	width: 25%; 
	background-color: #ff7b89; 
	margin: 0; }
.btn_close{ 
	border: none; 
	font-size: 15px; 
	width: 80px; 
	height: 25px; 
	background: transparent; 
	position: absolute; 
	top: 10px; right: 10px; 
	cursor: pointer; 
	font-weight: bold; }
.dimmed{ 
	background-color: rgba(0, 0, 0, 0.3); 
	position: absolute; 
	left: 0; right: 0; top: 0; bottom: 0; 
	z-index: -1; }
