<style>
div {
	box-sizing: border-box;
}
#wrapper {
	width: 1250px;
	height: 2000px;
	margin: 0px auto;
}
#header {
	width: 1250px;
	height: 100px;
	margin: 0px auto;
}
#body {
	width: 1250px;
	height: 1800px;
	margin: 0px auto;
}
#footer {
	width: 1250px;
	height: 100px;
	margin: 0px auto;
}
.searchArea {
	width: 1250px;
	height: 300PX;
	background: url('../../reservation/image/main/maintop.jpg') no-repeat 50%;
	background-size: cover;
}
#contentArea {
	width: 1250px;
	height: 1500px;
}
#leftArea {
	width: 900px;
	height: 1500px;
	float: left;
}
#rightArea {
	width: 350px;
	height: 1500px;
	float: left;
}
#weatherArea {
	width: 350px;
	height: 780px;
	float: left;
	background-color:rgba(220,220,220,0.5);
}
#mapArea {
	width: 350px;
	height: 500px;
	float: left;
}
#serachPanel {
	width: 760px;
	height: 100px;
	color: white;
	background-color: rgba(220,220,220,0.2);
	text-align:center;
	font-size: 20px;
	overflow: hidden;
	position: relative;
	left: 20%;
	top: 40%;
	border: 1px solid black;
}
.search {
	width: 200px;
	height: 100%;
	font-size: 22px;
	float: left;
}
#from, #to {
	height: 40px;
	font-size: 25px;
}
.searchlogo{
	width:40px;
	height:40px;
	margin-bottom: 10px;
}
.prevnextIcon{
	width:20px;
	height:20px;	
}
.resultArea{
	width:100%;
	height:1200px;	
}

.cicon{
	width:100%;
	height:100%;	
}

.btn btn-outline-secondary{
	width:55px;
	height:50px;
	text-align: center;	
}
.btnArea{
	width:350px;
	height:60px;
	text-align: center;	
}
.climateResult{
	width:350px;
	height:700px;
	background-color: #3e4a56;
	color: white;
}
.morebtn{
	width:350px;
	height:40px;
	background-color: #d4dadc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
}

.mapbtn::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098FF;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.mapbtn:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}


</style>